---
layout: default
---
<section class="games-gallery pt-0 pb-5">
  <header class="section-header mb-4">
    <h1 class="section-heading">{{ page.title | default: 'games' }}</h1>
  </header>
  <div class="row">
    <div class="col-12">
      {{ content }}
      {% if page.embeds %}
        {% for game in page.embeds %}
          <article class="card mb-4 shadow-sm">
            <div class="card-body">
              <h2 class="h5">{{ game.title }}</h2>
              {% if game.description %}
                <p>{{ game.description }}</p>
              {% endif %}
              <div class="embed-responsive embed-responsive-4by3">
                {{ game.markup }}
              </div>
            </div>
          </article>
        {% endfor %}
      {% endif %}
    </div>
  </div>
</section>
